<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="classes" name="Suite">
  <test name="Test">
  <parameter name="childTestSite" value="23e232"></parameter>
    <classes>
    <class name="testScripts.TS_001_NEW_USER_FOR_REGISTRATION_TEST"/>
   <!--<class name="testScripts.TS_001_NEW_USER_FOR_REGISTRATION_TEST"/>
      <class name="testScripts.TS_002_LOGIN_LOGOUT_TEST"/>
      <class name="testScripts.TS_003_SEARCH_PETS_IN_SEARCH_BAR_TEST"/>
      <class name="testScripts.TS_004_ADD_TO_CART_TEST"/>
      <class name="testScripts.TS_005_PAYMENT_OPTION_TEST"/>
      <class name="testScripts.TS_006_SHIP_TO_DIFFERENT_ADDRESS_TEST"/>  -->
    </classes>
  </test> 
</suite> 
